<% @title="Contact" %>
<div class="row">
  <!--<div class="col-lg-6">
      <h2 class="page-header text-center">Locatie</h2>
  </div>-->
  <div class="col-lg-1">
  </div>
  <div class="col-lg-5">
      <h2 class="page-header text-center">Contactgegevens</h2>
      <h3 class="text-center"></h3>
      <p class="margin-left;150px">
        <h4> Adres </h4> <p> Kraanstraat 3 </p>
          <br>
          <h4> Plaats en postcode </h4>
          <p> 3514 BD, Utrecht </p>
          <br>
          <h4> Mobiele nummer </h4>
           <p> (+31)6 811 749 30 </p>
          <h4> E-mail adres </h4>
          <p> Richard@cesarWise.nl </p>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  </div>
  <div class="col-lg-5" >
    <h2 class="page-header text-center">Contactformulier</h2>
    <p> Heeft u vragen of opmerkingen? U kunt deze stellen door een mail te
      sturen naar: Richard@cesarWise.nl
     </p>

  </div>
  </div>
  <div class="col-lg-5">



</div>
  </div>
