<% @title="Home" %>
<div class="row">
  <div class="inhoudbox" id="inhoudbox">
    <div class="col-lg-12"  id="inhoud" style="top: -16px; center">

      <%= image_tag("voorpagina.png", :alt => "Running", :size => "100%", id: 'voorpagina')  %>

    </div>
  </div>

</div>


<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header text-center font-size: 50px">CesarWise</h2>
    </div>

    <div class="col-lg-4">
      <h3 class="section-lead font-size: 25px">De hoogste kwaliteit</h3>
      <p class="font-size:20px center">
      CesarWise streeft naar de hoogste kwaliteit door middel van een
      professionele en doelgerichte aanpak, met aandacht voor de individu.
      </p>
    </div>

    <div class="col-lg-4">
      <h3 class="section-lead font-size:25px">Behandeling van de oorzaak</h3>
      <p class="font-size:20px">
      CesarWise werkt vanuit de visie van oefentherapeut. De oefentherapeut
      behandelt de oorzaak van het probleem. Hierdoor worden niet alleen korte
      maar ook lange termijn doelstellingen behaald.
      </p>
    </div>

    <div class="col-lg-4">
      <h3 class="section-lead font-size:25px">Jong en Innovatief</h3>
      <p class="font-size:20px"> CesarWise past zich aan op de  huidige
        maatschappelijke problemen en is op de hoogte van  wetenschappelijke
        ontwikkelingen binnen de zorg. Hierdoor blijft CesarWise zich
        continue ontwikkelen.
      </p>
    </div>

</div>

<div class="row">
  <div class="col-lg-12">
        <h1 class="page-header text-center font-size: 50px">Kijk ook naar:</h1>
  </div>

  <div class="col-lg-4 text-center">
      <div class="thumbnail">
            <%=  link_to image_tag("walking.jpg", :size=> "420x275"), home_in_balans_path%>
            <br><br><br>
          <div class="caption">
              <h3>Cursus: In Balans </h3>
              <br>

          </div>
      </div>
  </div>

  <div class="col-lg-4 text-center">
      <div class="thumbnail">
            <%=  link_to image_tag("specilisaties.png", :size=> "420x275"), home_diensten_path%>
              <br><br><br>
          <div class="caption">

              <h3> Specialisaties</h3>
              <br>

          </div>
      </div>
  </div>
  <div class="col-lg-4 text-center">
      <div class="thumbnail">
            <%=  link_to image_tag("Logo.png", :size=> "420x275"), home_contact_path%>
              <br><br><br>
          <div class="caption">

              <h3> Contact informatie</h3>
              <br>

          </div>
      </div>
  </div>









</div>
<br><br><br><br><br><br><br><br><br><br><br>
