<% @title="Overig" %>
<div class="row">
  <div class="col-lg-5" id="overig">
      <h2 class="page-header text-center">Overige pagina's</h2>
      <ul>
        <li>
        <%=link_to '-ALGEMENE VOORWAARDEN', home_algemene_voorwaarden_path %>
        </li>
        <li>
        <%=link_to '-DISCLAIMER', home_disclaimer_path %>
        </li>
        <li>
          <%=link_to '-PRIVACY', home_privacy_path %>
        </li>
        <li><%=link_to '-KLACHTEN', home_klachten_path %></li>

      </ul>

  </div>
  <div class="col-lg-1">
  </div>
  <div class="col-lg-5" id="downloads">
      <h2 class="page-header text-center">Downloads</h2>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          <br><br><br><br><br><br><br><br><br><br><br>
  </div>

</div>
