<% @title="Partners" %>
<div class="row">
    <div class="col-lg-12 text-center">
        <h1 class="page-header">CesarWise werkt samen met de volgende organisaties</h1>
    </div>

    <div class="col-md-4 text-center">
        <div class="thumbnail">
          <br><br>
              <%=   link_to image_tag("onis.png"), 'http://www.oniswelzijn.nl'%>

            <div class="caption">
              <br><br>
                <h3>Onis<br>
                    <small>Organisatie voor welzijnsdiensten</small>
                </h3>
                <p>Onis werkt in Asten en Someren aan welzijn van mensen. Onis initieert,
                  stimuleert en begeleidt activiteiten en voorzieningen ter bevordering
                  van welzijn in het algemeen en in het bijzonder voor kwetsbare groepen.
                  <br>
                  <%=link_to 'www.oniswelzijn.nl', 'http://www.oniswelzijn.nl' %>
                </p>
                <br>
            </div>
        </div>
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br>
